node_modules/
dist/
venv/
.DS_Store
*.log
.env

# Large media files
Assets/AYURGREEN HOSPITALS FHD.MP4
Assets/Ayurgreen Hospitals.webm
Assets/Therapies/OT/passive training.MP4
Assets/Logo/Ayurgreen Hospitals.webm
Assets/Ayurgreen Hospitals.mp4
Assets/Unconfirmed*.crdownload
.next
